*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-y: hidden;
  color: white;
}
section {
  width: 570px;
  margin: auto;
  margin-top: 20px;
  background: #7093db;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.16);
}
input {
  width: 60%;
  height: 50px;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  color: white;
  background: none;
  font-size: 20px;
  transition: all 0.2s;
}
input:active {
  outline: none;
  border: 2px solid gold;
}
input:focus {
  outline: none;
}
input:hover {
  background: rgba(255, 255, 255, 0.349);
}
button {
  width: 40%;
  height: 50px;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid white;
  background: none;
  color: white;
  border-left: none;
  transition: all 0.2s;
}
button:hover {
  background: rgba(255, 255, 255, 0.349);
}
button:active {
  outline: none;
  border: 2px solid gold;
  border-left: none;
}
button:focus {
  outline: none;
}
::placeholder {
  color: white;
}
h1 {
  font-size: 25px;
  width: 100%;
  text-align: center;
  color: gold;
  padding: 5px;
}
p {
  position: relative;
  font-size: 20px;
  padding: 15px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.178);
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
p:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.349);
}
h4 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
li {
  list-style: none;
}
span {
  color: gold;
}
img {
  display: flex;
  width: 130px;
  margin: auto;
  padding-bottom: 10px;
}

.desc {
  font-size: 140%;
}
h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
  color: gold;
  font-family: sans-serif;
  letter-spacing: 1px;
}

h6 {
  text-align: center;
  font-size: 15px;
  margin: 10px;
  color: gold;
}
.searchContainer {
  width: 95%;
  background: rgba(255, 255, 255, 0.178);
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.gif {
  margin-top: 250px;
  display: flex;
  margin: auto;
  width: auto;
}
.icons {
  position: relative;
  top: 5px;
  font-size: 25px;
}
.top {
  margin-left: 5px;
}
.mainbox {
  width: 95%;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.178);
  transition: all 0.2s;
}
.mainbox:hover {
  width: 100%;
  transform: scale(1.04);
  background: rgba(255, 255, 255, 0.349);
}
.bichevrondown {
  display: inline-flex;
  position: absolute;
  right: 10px;
  font-size: 40px;
  border: none;
  width: auto;
  top: 12px;
}
.bichevrondown:hover {
  background: none;
}
.bichevrondown:active {
  border: none;
}
